th:first-child, td:first-child {
  width: 20%;
}
th:nth-child(3), td:nth-child(3) {
  width: 30%;
}
th:nth-child(2), td:nth-child(2) {
  width: 26%;
}
th:nth-child(4), td:nth-child(4) {
  width: 24%;
}
