

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1552871864829-1 > input {text-align: center;
        }
        .silex-id-1552871873178-2 > input {text-align: center;
        }
        .silex-id-1552871910523-3 > input {text-align: center;
        }
        .silex-id-1552871930539-4 > input {text-align: center;
        }
        .silex-id-1552871947958-5 > input {text-align: center;
        }
        .silex-id-1552871965334-6 > input {text-align: center;
        }
        .silex-id-1552871985739-7 > input {text-align: center;
        }
        .silex-id-1552871997754-8 > input {text-align: center;
        }
        .silex-id-1552872039323-9 > input {text-align: center;
        }
        .silex-id-1552872052025-10 > input {text-align: center;
        }
        .silex-id-1552872086669-13 > input {text-align: center;
        }
        .silex-id-1552872072979-12 > input {text-align: center;
        }
        .silex-id-1552872099314-14 > input {text-align: center;
        }
        .silex-id-1552871806940-0 > .CTATTable--row > .CTATTable--cell {width: 111px; height: 35.1429px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 886px; height: 575px;
        }
        .silex-id-1552871806940-0 {top: 60px; left: 400px; height: 260px; width: 452px;
        }
        .silex-id-1552871864829-1 {top: 140px; left: 520px; height: 1.4em; width: 100px; font-size: 12px;
        }
        .silex-id-1552871873178-2 {top: 140px; left: 620px; height: 1.4em; width: 100px; font-size: 12px;
        }
        .silex-id-1552871910523-3 {top: 140px; left: 740px; height: 1.4em; width: 100px; font-size: 12px;
        }
        .silex-id-1552871930539-4 {top: 180px; left: 520px; height: 1.4em; width: 100px; font-size: 12px;
        }
        .silex-id-1552871947958-5 {top: 180px; left: 620px; height: 1.4em; width: 100px; font-size: 12px;
        }
        .silex-id-1552871965334-6 {top: 180px; left: 740px; height: 1.4em; width: 100px; font-size: 12px;
        }
        .silex-id-1552871997754-8 {top: 220px; left: 740px; height: 1.4em; width: 100px; font-size: 12px;
        }
        .silex-id-1552872258433-17 {top: 60px; left: 520px; height: 40px; width: 100px; text-align: center; font-size: 12px;
        }
        .silex-id-1552872306752-18 {top: 60px; left: 740px; height: 40px; width: 100px; text-align: center; font-size: 12px;
        }
        .silex-id-1552872330544-19 {top: 60px; left: 640px; height: 40px; width: 100px; text-align: center; font-size: 12px;
        }
        .silex-id-1552872995240-25 {top: 420px; left: 40px; height: 64px; width: 64px;
        }
        .silex-id-1552873004283-26 {top: 500px; left: 40px; height: 64px; width: 64px;
        }
        .silex-id-1552873108044-33 {top: 100px; left: 640px; height: 20px; width: 100px; font-size: 12px; text-align: center;
        }
        .silex-id-1552873133932-34 {top: 100px; left: 400px; height: 20px; width: 100px; font-size: 12px; text-align: center;
        }
        .silex-id-1552873154815-35 {top: 140px; left: 400px; height: 20px; width: 100px; font-size: 12px; text-align: center;
        }
        .silex-id-1552873170784-36 {top: 180px; left: 400px; height: 20px; width: 100px; text-align: center; font-size: 12px;
        }
        .silex-id-1552873186364-37 {top: 260px; left: 400px; height: 20px; width: 100px; font-size: 12px; text-align: center;
        }
        .silex-id-1552873201542-38 {top: 300px; left: 400px; height: 20px; width: 100px; font-size: 12px; text-align: center;
        }
        .silex-id-1552873224889-39 {top: 220px; left: 400px; height: 20px; width: 100px; font-size: 12px; text-align: center;
        }
        .silex-id-1552871985739-7 {top: 220px; left: 520px; height: 17px; width: 100px; font-size: 12px;
        }
        .silex-id-1552872215949-16 {top: 20px; left: 20px; height: 360px; width: 320px; font-size: 12px;
        }
        .silex-id-1552880915410-1 {top: 220px; left: 640px; height: 20px; width: 100px; font-size: 12px; text-align: center;
        }
        .silex-id-1552872062795-11 > input {text-align: center;
        }
        .silex-id-1552872099314-14 {top: 300px; left: 520px; height: 20px; width: 100px; font-size: 12px;
        }
        .silex-id-1552872086669-13 {top: 300px; left: 640px; height: 20px; width: 100px; font-size: 12px;
        }
        .silex-id-1552872072979-12 {top: 300px; left: 740px; height: 20px; width: 100px; font-size: 12px;
        }
        .silex-id-1552872039323-9 {top: 260px; left: 740px; height: 20px; width: 100px; font-size: 12px;
        }
        .silex-id-1552872052025-10 {top: 260px; left: 620px; height: 20px; width: 120px; font-size: 12px;
        }
        .silex-id-1552872062795-11 {top: 260px; left: 520px; height: 20px; width: 100px; font-size: 12px;
        }
        .silex-id-1552872596210-20 {top: 100px; left: 520px; height: 20px; width: 100px; text-align: center; font-size: 12px;
        }
        .silex-id-1552872612518-21 {top: 100px; left: 740px; height: 20px; width: 100px; text-align: center; font-size: 12px;
        }
        .silex-id-1553031489978-0 {top: 400px; left: 520px; height: 160px; width: 340px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1552872980902-24 {top: 400px; left: 140px; height: 160px; width: 340px; display: flex;
        }
    